<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.css'>
    <title>RSS Express 1.01.001</title>
    
    <style>
        .item {
            margin-bottom: 30px;
        }
        
        .item-date {
            opacity: 0.7;
            font-size: 0.8em;
            margin-bottom: 5px;
        }
        
        .item-title {
            text-decoration: none;
        }
        
        .item-text {
            opacity: 0.7;
            font-size: 0.8em;
            text-decoration: none;
        }
        
        .item-read {
            font-style: italic;
        }
        
        
    </style>
</head>
<body>

<div id="wrapper">

    <div id="nav">
        <a href="{{url_base}}/">Home</a>
        <a href="{{url_base}}/add">Add</a>
    </div>
    
    <div id="main">
        {{{body}}}
    </div>

</div>

</body>
</html>
