{{#each items}}
  <div class="item">
      <div class="item-date">{{this.dateFormat}}</div>
      <div>
          <a class="item-title" href="{{this.link}}">{{this.title}}</a>
          <a class="item-text" href="/txt/{{this.decodedLink}}">text</a>
      </div>
  </div>
{{/each}}
